@page "/fetchdata"

<PageTitle>People and Programs Demo</PageTitle>

@using ChappyBlazor.Data
@using DataAccess.Model
@using Newtonsoft.Json
@inject DataService service
<h1>People and Programs Demo</h1>

<p>This component demonstrates fetching data from a database</p>

@if (persons == null)
{
    <p><em>Loading people...</em></p>
}
else
{
    <h2>Persons</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Legal Name</th>
                <th>Preferred Name</th>
                <th>Alias</th>
                <th>Created By</th>
                <th>Modified By</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var person in persons)
            {
                <tr>
                    <td>@person.LegalName</td>
                    <td>@person.PreferredName</td>
                    <td>@person.Title</td>
                    <td>@person.Alias</td>
                    <td>@person.CreatedByName</td>
                    <td>@person.ModifiedByName</td>
                </tr>
            }
        </tbody>
    </table>
    <pre style="white-space: pre-wrap;">
        @JsonConvert.SerializeObject(persons, Formatting.Indented);
    </pre>
    if (persons.Count > 0)
    {
        <pre>
            Person results fetched in @persons!.First()!.Stopwatch!.ElapsedMilliseconds milliseconds.
        </pre>
    }
}


@if (programs == null)
{
    <p><em>Loading programs...</em></p>
}
else
{
    <h2>Programs</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Summary</th>
                <th>Description</th>
                <th>Title</th>
                <th>Owner</th>
                <th>Created Date</th>
                <th>Modified Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var program in programs)
            {
                <tr>
                    <td>@program.Summary</td>
                    <td>@program.Description</td>
                    <td>@program.Title</td>
                    <td>@program.Owner</td>
                    <td>@program.CreatedByName</td>
                    <td>@program.ModifiedByName</td>
                </tr>
            }
        </tbody>
    </table>
    <pre style="white-space: pre-wrap;">
        @JsonConvert.SerializeObject(programs, Formatting.Indented);
    </pre>
    if (programs.Count > 0)
    {
        <pre>
            Program results fetched in @programs!.First()!.Stopwatch!.ElapsedMilliseconds milliseconds.
        </pre>
    }
}


@code {
    private List<MyPerson> persons = new();
    private List<MyProgram> programs = new();

    protected override async Task OnInitializedAsync()
    {
        persons = await service.GetPersons();
        programs = await service.GetPrograms();

    }
}